<a href="https://colab.research.google.com/github/JairuMath/CursoIntroPythonparaCienciadeDatosSEE/blob/main/Sesion2_Intro_PythonCienciasDatos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

> # Sesion 2> Curso Intro a Python para Ciencia de Datos

# Primer Script en python

In [1]:
x=2
x=x+2
print(x)

4

In [2]:
x=5
if x<10:
  print('Más pequeño')
if x>20:
  print('Más grande')

print('Finish')

Más pequeño
Finish

In [4]:
n=5
while n>0:
  print(n)
  n=n-1

print("Boooom")

5
4
3
2
1
Boooom

In [5]:
print(123)

123

In [6]:
print(98.6)

98.6

In [7]:
print('Hola Mundo')

Hola Mundo

In [9]:
x=12.2
y=14
print(x)

12.2

In [10]:
x=12.2
y=14
x=100
print(x)

100

In [11]:
x=2 #enunciado de asignación
x=x+2 #enunciado con empresión 
print(x) #enunciado print (impresión)

4

In [13]:
x1q3z9ocd=35.0  # nunca crear nombre con nombres así
c=12.5 #escribr claro 
print(x1q3z9ocd)
print(c)

35.0
12.5

In [15]:
Horas=35.0
Tarifas=12.50
Salario=Horas*Tarifas
print(Salario)

437.5

In [16]:
x=0.6
y=3.9*x*(1-x)
print(y)

0.9359999999999999

In [17]:
 #Esto es un comentario

In [19]:
# capturar información por teclado 
# Sumar número
inp=input('Ingrese número')
usf=int(inp)+1  #int: convierto el texto a número
print("Número sumado 1->",usf)

Ingrese número34
Número sumado 1-> 35

In [24]:
"""Este es un comentario multilínea.
Podemos escribir tantas líneas queramos a modo de documentación."""
print(2)

2

In [31]:
Horas=input('Ingrese las horas')
CostoHora=input('Ingrese el costo por hora')
usf1=int(Horas)
usf2=int(CostoHora)
sueldo=usf1*usf2
print("Salario es: ", sueldo)

Ingrese las horas4
Ingrese el costo por hora4
Salario es:  16

In [34]:
# datos con decimales
Horas=float(input('Ingrese las horas: '))
CostoHora=float(input('Ingrese el costo por hora: '))
sueldo=Horas*CostoHora
print("Salario es: ", sueldo)

Ingrese las horas: 5
Ingrese el costo por hora: 4.5
Salario es:  22.5

In [37]:
n1=float(input('Ingrese el primer número: '))
n2=float(input('Ingrese el segundo número: '))

print('Suma: ',n1+n2)
print('Resta: ',n1-n2)
print('Multiplicación: ',n1*n2)
print('Potencia: ',n1**n2)
print('División: ',n1/n2)
print('Modulo-Residuo: ',n1%n2) #residuo

Ingrese el primer número: 9
Ingrese el segundo número: 2.5
Suma:  11.5
Resta:  6.5
Multiplicación:  22.5
Potencia:  243.0
División:  3.6
Modulo-Residuo:  1.5

In [41]:
a=input("Ingrese una variable")
print(a)
type(a)

Ingrese una variable67
67

str

In [42]:
#Convertir a entero
a=float(a)
print(a)
type(a)

67.0

float

In [48]:
a=10
b=50
resultado1=a>b
resultado2=b<a 
resultado3=a<b
resultado4=not(b<a) 
print('resultado1',resultado1)
print('resultado2',resultado2)
print('resultado3',resultado3)
print('resultado4',resultado4)

resultado1 False
resultado2 False
resultado3 True
resultado4 True

In [52]:
a=10
b=4
c=8
d=40
resultado1= (a>b and c>d) # las dos proposiciones deben ser verdaderas
resultado2= (a>b or c>d)  # almenos una proposición debe ser verdadera

print("resultado1: ",resultado1)
print("resultado2: ",resultado2)

resultado1:  False
resultado2:  True

Tablas de Verdad Conjunción

In [64]:
print(True ,' &', True, ' :', True and True)
print(True ,' &', False, ':', True and False)
print(False ,'&', True, ' :', False and True)
print(False ,'&', False, ':', False and False)

True  & True  : True
True  & False : False
False & True  : False
False & False : False

Tabla de Verdad Disyunción

Tabla de múltiplicar hasta el 10 de cualquier número que ingrese por teclado

In [60]:
n=int(input('Ingrese un número por teclado: '))
k=1
while k<=10:
  print(n,'x', k, '=', n*k)
  k=k+1

Ingrese un número por teclado: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50