<a href="https://colab.research.google.com/github/JairuMath/CursoIntroPythonparaCienciadeDatosSEE/blob/main/Sesion_1_Intro_Python_SEE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sesion 1> Curso Intro a Python para Ciencia de Datos 

### Markdown

Markdown permite **negrita**, *cursiva*, títulos, armar listas y más detalles de escritura de texto, pero mediante el uso de "marcas" como el # o *

## Generalidades de Python

In [ ]:
5+5 # Expresión con output

10

In [ ]:
5+5; # Expresión sin salida

In [ ]:
a = 5+5 # Asigna el valor a la variable "a"

In [ ]:
a

10

In [ ]:
a= 2; b= 1; a + b

3

In [ ]:
2 + 3*5 # operaciones básicas

17

In [ ]:
7 // 3 # division entera

2

In [ ]:
7 % 3 # Modular

1

In [ ]:
pow(2, 3) # 2 elevado al cubo

8

In [ ]:
2**3

8

In [ ]:
import math

In [ ]:
math.floor(2.3) # Funcion piso

2

In [ ]:
math.fabs(-5) # valor absoluto

5.0

In [ ]:
math.factorial(3) # Factorial
# 3! = 3 x 2

6

## CASO RETAIL ONLINE

### 1ro: Cargar paquetes a usar

In [ ]:
import os
import math
import numpy as np
import pandas as pd
import scipy
import matplotlib.pyplot as plt
import seaborn as sns

2do: Directorios o Proyecto

In [ ]:
import os
os.mkdir('Data') # Crear carpeta Data

FileExistsError: ignored

In [ ]:
# Obtener el archivo de excel
# https://drive.google.com/file/d/1QEBpfA5Lm8yxWdevRBytj6YPaNr0uIkv/view?usp=sharing
!gdown --id 1QEBpfA5Lm8yxWdevRBytj6YPaNr0uIkv

Downloading...
From: https://drive.google.com/uc?id=1QEBpfA5Lm8yxWdevRBytj6YPaNr0uIkv
To: /content/retail_online_sample.xlsx
100% 662k/662k [00:00<00:00, 84.6MB/s]

Luego de descargar deben mover el archivo a la carpeta Data

### 3ro: Importar Datos

In [ ]:
transacciones = pd.read_excel("Data/retail_online_sample.xlsx", sheet_name = 'transacciones')
transacciones.head(5)

  InvoiceNo StockCode  Quantity  ... UnitPrice  CustomerID         Country
0    536378     21931        10  ...       195     14688.0  United Kingdom
1    536382     22379        10  ...        21     16098.0  United Kingdom
2    536394     22866        96  ...       185     13408.0  United Kingdom
3    536395     22866        48  ...        21     13767.0  United Kingdom
4    536398     22866        12  ...        21     13448.0  United Kingdom

[5 rows x 7 columns]

In [ ]:
productos = pd.read_excel("Data/retail_online_sample.xlsx", 
sheet_name = 'productos')
productos.head(5)

  StockCode                         Description
0     23064              CINDERELLA CHANDELIER
1     21002          ROSE DU SUD DRAWSTRING BAG
2     20831                    GOLD PHOTO FRAME
3     22964  3 PIECE SPACEBOY COOKIE CUTTER SET
4     22609             PENS ASSORTED SPACEBALL

In [ ]:
a= 'Hola Mundo'
a

'Hola Mundo'

In [ ]:
a.__class__

str

In [ ]:
a= [2, 4]
a

[2, 4]

In [ ]:
a.__class__

list

In [ ]:
transacciones.__class__

pandas.core.frame.DataFrame

### 4to: Entender los **datos**

In [ ]:
transacciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15677 entries, 0 to 15676
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    15677 non-null  object
 1   StockCode    15677 non-null  object
 2   Quantity     15677 non-null  int64
 3   InvoiceDate  15677 non-null  object
 4   UnitPrice    15677 non-null  int64
 5   CustomerID   11300 non-null  float64
 6   Country      15677 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 857.5+ KB

### 5to. Corregir y ordenar los datos

**Seleccionar columnas: [[,]]**

In [ ]:
# Seleccionar una columna
productos['Description']

0                  CINDERELLA CHANDELIER
1              ROSE DU SUD DRAWSTRING BAG
2                        GOLD PHOTO FRAME
3      3 PIECE SPACEBOY COOKIE CUTTER SET
4                 PENS ASSORTED SPACEBALL
                     ...
95        FUSCHIA FLOWER PURSE WITH BEADS
96    ANTIQUE TALL SWIRLGLASS TRINKET POT
97          DROP EARRINGS W FLOWER & LEAF
98       HANGING CHICK  YELLOW DECORATION
99     WHITE/PINK CHICK EASTER DECORATION
Name: Description, Length: 100, dtype: object

In [ ]:
# Seleccionar una columna
productos.Description

0                  CINDERELLA CHANDELIER
1              ROSE DU SUD DRAWSTRING BAG
2                        GOLD PHOTO FRAME
3      3 PIECE SPACEBOY COOKIE CUTTER SET
4                 PENS ASSORTED SPACEBALL
                     ...
95        FUSCHIA FLOWER PURSE WITH BEADS
96    ANTIQUE TALL SWIRLGLASS TRINKET POT
97          DROP EARRINGS W FLOWER & LEAF
98       HANGING CHICK  YELLOW DECORATION
99     WHITE/PINK CHICK EASTER DECORATION
Name: Description, Length: 100, dtype: object

In [ ]:
# Seleccionar varias columnas
transacciones[ ['StockCode', 'Quantity', 'Country'] ]

      StockCode  Quantity         Country
0         21931        10  United Kingdom
1         22379        10  United Kingdom
2         22866        96  United Kingdom
3         22866        48  United Kingdom
4         22866        12  United Kingdom
...         ...       ...             ...
15672     22992         1  United Kingdom
15673     20979        -5  United Kingdom
15674    84997D         8         Germany
15675     22992        12         Germany
15676     21931        10  United Kingdom

[15677 rows x 3 columns]

**Filtrar filas por posición o condición**

In [ ]:
# Filtrar filas por numero de fila
transacciones.iloc[ [5,6,7] ]
# transacciones.loc[[5,6,7]] Tambien es válido

  InvoiceNo StockCode  Quantity  ... UnitPrice  CustomerID         Country
5    536401     22767         2  ...       995     15862.0  United Kingdom
6    536401     85150         1  ...       255     15862.0  United Kingdom
7    536401     22068         2  ...       165     15862.0  United Kingdom

[3 rows x 7 columns]

In [ ]:
# Filtrar filas según una condición loc
# Filtrar transacciones cuyo tiempo de servicio sea mayor a 100
transacciones.loc[ (transacciones["Country"] == "United Kingdom") & 
(transacciones["Quantity"] > 10) ]

      InvoiceNo StockCode  Quantity  ... UnitPrice  CustomerID         Country
2        536394     22866        96  ...       185     13408.0  United Kingdom
3        536395     22866        48  ...        21     13767.0  United Kingdom
4        536398     22866        12  ...        21     13448.0  United Kingdom
8        536404     22773        12  ...       125     16218.0  United Kingdom
9        536404     22964        12  ...        21     16218.0  United Kingdom
...         ...       ...       ...  ...       ...         ...             ...
15627    581475     22380        20  ...        79     13069.0  United Kingdom
15631    581488     22179        24  ...       595     17428.0  United Kingdom
15657    581496     20831        12  ...        79     16558.0  United Kingdom
15665    581514    84031B        14  ...       125     17754.0  United Kingdom
15666    581514     22068        14  ...        39     17754.0  United Kingdom

[3007 rows x 7 columns]

In [ ]:
# Filtrar filas según una condición loc
# Filtrar transacciones cuyo tiempo de servicio sea mayor a 100
transacciones.loc[ (transacciones["Country"] == "United Kingdom") & 
(transacciones["Quantity"] > 10) ,  ['Country', 'Quantity']]

              Country  Quantity
2      United Kingdom        96
3      United Kingdom        48
4      United Kingdom        12
8      United Kingdom        12
9      United Kingdom        12
...               ...       ...
15627  United Kingdom        20
15631  United Kingdom        24
15657  United Kingdom        12
15665  United Kingdom        14
15666  United Kingdom        14

[3007 rows x 2 columns]

# Nueva sección

In [ ]:
transacciones.sort_values( "Quantity")

      InvoiceNo StockCode  Quantity  ... UnitPrice  CustomerID         Country
5784     552733     23059     -2376  ...         0         NaN  United Kingdom
2295    C542693     15036      -600  ...        65     12908.0  United Kingdom
13845    576765     22219      -550  ...         0         NaN  United Kingdom
8553     561086     15036      -530  ...         0         NaN  United Kingdom
11209    569341     82600      -458  ...         0         NaN  United Kingdom
...         ...       ...       ...  ...       ...         ...             ...
7169     557092     15036       600  ...        72     12908.0  United Kingdom
11395    569815     22379       700  ...       185     15838.0  United Kingdom
8906     562285     15036       720  ...        72     17404.0          Sweden
7817     559047     15036      1200  ...        72     13082.0  United Kingdom
2478     543192     15036      1200  ...        65     17381.0  United Kingdom

[15677 rows x 7 columns]

In [ ]:
transacciones.iloc[ 0:4, [1,2] ]

  StockCode  Quantity
0     21931        10
1     22379        10
2     22866        96
3     22866        48

**Crear o modificar columnas/variables**

In [ ]:
# Crear una nueva columna con el tiempo en minutos
transacciones['Cantidad_10'] = transacciones['Quantity']*10
transacciones.head(5)

  InvoiceNo StockCode  Quantity  ... CustomerID         Country  Cantidad_10
0    536378     21931        10  ...    14688.0  United Kingdom          100
1    536382     22379        10  ...    16098.0  United Kingdom          100
2    536394     22866        96  ...    13408.0  United Kingdom          960
3    536395     22866        48  ...    13767.0  United Kingdom          480
4    536398     22866        12  ...    13448.0  United Kingdom          120

[5 rows x 8 columns]

**Con esto ya podemos modificar la columna 'InvoiceDate' y pasarla a tipo fecha**

In [ ]:
# Cambiar la columna data a fecha
transacciones["InvoiceDate"] = pd.to_datetime(transacciones["InvoiceDate"])
transacciones["CustomerID"] = transacciones["CustomerID"].astype(str)
transacciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15677 entries, 0 to 15676
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    15677 non-null  object
 1   StockCode    15677 non-null  object
 2   Quantity     15677 non-null  int64
 3   InvoiceDate  15677 non-null  datetime64[ns]
 4   UnitPrice    15677 non-null  int64
 5   CustomerID   15677 non-null  object
 6   Country      15677 non-null  object
 7   Cantidad_10  15677 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(4)
memory usage: 979.9+ KB

### Descriptivas

In [ ]:
transacciones.describe()

           Quantity     UnitPrice   Cantidad_10
count  15677.000000  15677.000000  15677.000000
mean       9.307521    316.796453     93.075206
std       40.151242    565.844724    401.512422
min    -2376.000000      0.000000 -23760.000000
25%        1.000000     85.000000     10.000000
50%        3.000000    195.000000     30.000000
75%       10.000000    375.000000    100.000000
max     1200.000000   9996.000000  12000.000000

In [ ]:
# Media de la cantidad
transacciones['Quantity'].mean()

9.307520571537921

In [ ]:
## Obtiene las descriptivas por Pais
transacciones.groupby('Country')['Quantity'].mean()

Country
Australia               69.125000
Austria                 12.909091
Bahrain                  8.000000
Belgium                  8.187500
Canada                   9.333333
Channel Islands          9.200000
Cyprus                   7.125000
Czech Republic          24.000000
Denmark                 17.428571
EIRE                    16.668712
Finland                 27.000000
France                  13.709957
Germany                 14.316742
Greece                  12.000000
Hong Kong               22.375000
Iceland                  8.333333
Israel                  16.125000
Italy                    9.727273
Japan                   24.800000
Lebanon                  9.000000
Malta                    4.000000
Netherlands             81.617021
Norway                  16.588235
Poland                   7.833333
Portugal                10.264706
RSA                      5.000000
Singapore               19.636364
Spain                   26.941176
Sweden                  87.050000
Switzerland             10.777778
USA                      7.000000
United Arab Emirates    15.000000
United Kingdom           8.432635
Unspecified              5.666667
Name: Quantity, dtype: float64

In [ ]:
## Obtiene las descriptivas por Pais
transacciones.groupby('Country').describe()

                     Quantity                         ... Cantidad_10
                        count       mean         std  ...         50%     75%      max
Country                                               ...
Australia                40.0  69.125000  106.699960  ...       210.0  1070.0   6000.0
Austria                  11.0  12.909091    8.312094  ...        80.0   220.0    240.0
Bahrain                   1.0   8.000000         NaN  ...        80.0    80.0     80.0
Belgium                  48.0   8.187500    4.823066  ...        60.0   120.0    200.0
Canada                    3.0   9.333333    4.618802  ...       120.0   120.0    120.0
Channel Islands          20.0   9.200000    6.228965  ...        60.0   120.0    240.0
Cyprus                   16.0   7.125000    6.130525  ...        55.0   105.0    240.0
Czech Republic            1.0  24.000000         NaN  ...       240.0   240.0    240.0
Denmark                  14.0  17.428571   18.780982  ...       120.0   180.0    720.0
EIRE                    163.0  16.668712   28.689279  ...       100.0   120.0   2400.0
Finland                  27.0  27.000000   27.929857  ...       120.0   540.0    720.0
France                  231.0  13.709957   24.161555  ...        80.0   120.0   2400.0
Germany                 221.0  14.316742   45.901566  ...        60.0   120.0   6000.0
Greece                    1.0  12.000000         NaN  ...       120.0   120.0    120.0
Hong Kong                 8.0  22.375000   15.117988  ...       200.0   287.5    480.0
Iceland                   6.0   8.333333    4.082483  ...        90.0   120.0    120.0
Israel                    8.0  16.125000   17.389960  ...        90.0   240.0    480.0
Italy                    33.0   9.727273    5.007948  ...       100.0   120.0    240.0
Japan                     5.0  24.800000   26.855167  ...       240.0   480.0    500.0
Lebanon                   2.0   9.000000    4.242641  ...        90.0   105.0    120.0
Malta                     4.0   4.000000    2.828427  ...        30.0    50.0     80.0
Netherlands              47.0  81.617021   69.961031  ...       720.0  1440.0   2880.0
Norway                   34.0  16.588235   15.503895  ...       120.0   160.0    720.0
Poland                    6.0   7.833333    5.741661  ...        80.0   110.0    160.0
Portugal                 34.0  10.264706    9.639907  ...        90.0   115.0    480.0
RSA                       1.0   5.000000         NaN  ...        50.0    50.0     50.0
Singapore                11.0  19.636364   21.332008  ...       120.0   180.0    720.0
Spain                    51.0  26.941176   84.411234  ...        60.0   110.0   3600.0
Sweden                   20.0  87.050000  166.922130  ...       110.0  1080.0   7200.0
Switzerland              36.0  10.777778   11.481939  ...        60.0   120.0    480.0
USA                       2.0   7.000000    1.414214  ...        70.0    75.0     80.0
United Arab Emirates      2.0  15.000000   12.727922  ...       150.0   195.0    240.0
United Kingdom        14555.0   8.432635   39.193483  ...        30.0    80.0  12000.0
Unspecified              15.0   5.666667    7.997023  ...        20.0    50.0    240.0

[34 rows x 24 columns]